.image-box {
    display: flex;
    align-items: center;
}

.image {
    background-color: #f0f0f0;
    display: block;
    width: 500px;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.slider {
    display: inline-block;
    text-align: center;
}